* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #edeaea;
  display: flex;
  justify-content: center;
  padding: 20px 40px;
}

.container {
  background-color: #ffff;
  width: 100%;
  max-width: 650px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.user-profile .avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: 2px solid green;
}

.user-info h2 {
  font-size: 18px;
  margin: 0;
}

.user-info p,
.judul-input {
  font-size: 14px;
  margin: 0;
}

.date-badge {
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
}

.date {
  font-size: 12px;
  color: green;
  font-weight: 600;
}

/* Input Section */
.todo-input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

input[type="text"] {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  font-size: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.input-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
}

select,
button {
  font-size: 12px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

button {
  background: green;
  color: white;
  border: none;
  font-weight: bold;
}

.tittle-input {
  display: flex;
  gap: 5px;
}
.tittle-input img {
  width: 20px;
  height: 20px;
}

.tittle-input h1 {
  font-size: 15px;
  font-weight: 500;
  color: darkgray;
}

/* untuk list  */

.todo-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 12px;
  border-bottom: 1px solid #eee;
  gap: 10px;
  transition: 0.3s;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: #aaa;
}

.todo-text {
  flex: 1;
}

.badge {
  font-size: 0.7rem;
  padding: 3px 8px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
}

.badge.basic {
  background: green;
}
.badge.intermediate {
  background: rgb(196, 196, 2);
}
.badge.advanced {
  background: red;
}
